body {
  font-family: Rubik, "Open Sans", sans-serif;
}

.white {
  color: #fff;
}

.green {
  color: #0bd88f;
}

.aqua {
  color: #00f0ff;
}

.aqua-to-green {
  background: linear-gradient(90deg, #0bd88f 0%, #00f0ff 96.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-to-aqua {
  background: linear-gradient(90deg, #0bd88f 0%, #00f0ff 96.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-green {
  background: #0bd88f;
}


.wmax-1100 {
  max-width: 1100px;
}

.wmax-1200 {
  max-width: 1200px;
}

.wmax-1300 {
  max-width: 1300px;
}

.nowrap {
  white-space: nowrap;
}

button, .v-dropdown-menu__trigger {
  cursor: pointer;
}

.v-dropdown-menu__trigger::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.v-dropdown-menu__container {
  max-width: unset !important;
  min-width: unset !important;
  background: none !important;
  border: none !important;
  width: auto;
  margin-top: 0.25em;
}
