@media screen and (max-width: 999px) {
  footer {
    display: block;
  }

  .sitemap-desktop {
    display: none;
  }

  .footer-banner {
    text-align: center;
  }

  .footer-logo {
    justify-content: center;
  }

  .social-media-links {
    justify-content: center;
    gap: 3em;
  }

  .sponsor-msg {
    margin: 2em 0;
  }
}

@media screen and (max-width: 599px) {
  .sitemap {
    margin-top: 3em;
    font-size: 120%;
    display: grid;
    grid-template-areas:
      "products" "corporate" "connect-with-us"
      "events" "resources" "pricing";
    gap: 3em;
    align-items: center;
    text-align: center;
  }

  .social-media-links {
    gap: 0;
    justify-content: space-between;
    margin-top: 1em;
  }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .sitemap {
    display: grid;
    grid-template-areas:
      "products corporate connect-with-us"
      "events resources pricing";
    margin-top: 5em;
    font-size: 120%;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
  }

  .social-media-links {
    gap: 2.5em;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sitemap {
    display: none;
  }

  .sitemap-desktop {
    display: flex;
    gap: 6em;
  }

  .sitemap-desktop > div {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .social-media-links {
    justify-content: space-between;
  }

  .sponsor-msg {
    margin: 4em 0;
  }
}

.sitemap h3,
.sitemap-desktop h3 {
  color: rgba(115, 123, 152, 1);
}

.footer-social-media h3 {
  color: rgba(115, 123, 152, 1);
  font-size: 22px;
}

.footer-logo {
  height: 90px;
}

footer {
  background: #212435;
  color: #fff;
  gap: 10em;
  padding-top: 6em;
  padding-bottom: 6em;
}

@media screen and (min-width: 800px) {
  footer {
    padding-right: 4em;
    padding-left: 4em;
  }
}

@media screen and (max-width: 799px) {
  footer {
    padding-right: 4em;
    padding-left: 4em;
  }
}
