/* hero banner */

#hero-banner {
  background: #212435;
  color: #fff;
}

@media screen and (max-width: 1049px) {
  #hero-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4em;
    text-align: center;
  }
  #hero-banner p {
    padding-right: 0;
  }
}

@media screen and (min-width: 1050px) {
  #hero-banner {
    display: grid;
    padding: 3em 2em 0 8em;
  }
}

/* corporate training */

#corporate-training {
  background: url("/img/curve-2.svg"), url("/img/curve-1.svg"), #212435;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100%, 100%, 100%;
  padding: 9em 4em 2em 4em;
  margin-top: -3em;
}

.corporate-training-about h2 {
  font-size: 35px;
  line-height: 1.2;
}

@media screen and (max-width: 699px) {
  #corporate-training > div {
    flex-direction: column;
    align-items: center;
  }
  #corporate-training h2 {
    text-align: center;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  #corporate-training > div {
    align-items: start;
  }
}

@media screen and (max-width: 1000px) {
  #corporate-training {
    padding-bottom: 5em;
  }

  #corporate-training > div {
    padding-top: 2em;
  }

  #corporate-training .logo {
    margin: 0.5em;
    width: 100px;
  }

  .corporate-training-about p {
    font-size: 20px;
  }

  .featured-companies {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .featured-companies {
    display: flex;
  }

  .corporate-training-about p {
    font-size: 22px;
  }
}

/* courses' metrics */

#course-metrics {
  background: linear-gradient(to bottom, #233242, #212435);
  padding-left: 4em;
  padding-right: 4em;
}

@media screen and (max-width: 1099px) {
  #course-metrics > div {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    text-align: center;
  }
  #course-metrics h3 {
    font-size: 110%;
  }

  #course-metrics h2 {
    margin: 0.25em 0 0.4em 0;
  }

  #course-metrics .course-metrics-list {
    justify-content: center;
    gap: 4em;
  }

  .course-metrics-list {
    white-space: nowrap;
  }
}

@media screen and (min-width: 1100px) {
  #course-metrics > div {
    display: grid;
    max-width: 1200px;
  }
}

/* training bundle */

#training-bundle {
  background: url("/img/curve-2.svg"), url("/img/curve-1.svg"), #212435;
  background-size: 100%, 100%, 100%;
  background-position: center, bottom, top;
  background-repeat: no-repeat, no-repeat, no-repeat;
  padding-top: 5em;
}

#training-bundle h1 {
  font-size: 60px;
  margin-bottom: 2.5em;
  line-height: 1.2;
}

@media screen and (max-width: 899px) {
  #training-bundle .product-plans {
    flex-direction: column;
    padding: 0 5em;
  }

  #training-bundle .product-plan {
    width: 100%;
    padding: 4em 3em;
  }

  #training-bundle h1 {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 900px) {
  #training-bundle .product-plans {
    flex-direction: row;
  }

  #training-bundle .product-plan {
    width: 25%;
  }

  #training-bundle h1 {
    margin-bottom: 2.5em;
  }
}

/* workshops */

#workshops {
  background: #212435;
  color: #fff;
}

@media screen and (max-width: 1050px) {
  #workshops {
    justify-content: center;
    gap: 4em;
    padding-left: 2em;
  }

  #workshops div {
    margin-top: 0;
  }

  #workshops .call-to-action {
    order: 3;
  }

  #workshops > h2 {
    text-align: center;
    margin-right: 1em;
  }
}
